# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio files
.vs/
*.pdb
*.idb
*.ilk
*.tlog
*.lastbuildstate
*.log
*.recipe
*.enc
*.iobj
*.ipdb
Debug/
Release/
x64/
x86/
bld/
[Bb]in/
Obj/
[Oo]bj/
*.user
*.suo
*.db
*.opendb
*.VC.db
*.VC.VC.opendb

# Core project files (ALLOW)
!*.sln
!*.vcxproj
!*.vcxproj.filters
!*.cpp
!*.h
!*.hpp
!*.c
!*.cc

# Allow executables, dlls, and Release folder
!*.exe
!*.dll
!Release/